<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
<!-- <div class="mb-15">
    <nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-dark navbar-expand-sm shadow-lg">
        <div class="container-fluid">

            <a class="navbar-brand" href="#">
                <img src="nit-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                NIT AP CLUBS
            </a>
            <a class="navbar-brand d-none" href="#">HOME</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" href="/eventRegisters">Registrations</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" href="/galleryform">Gallery</a>
                    </li>


                </ul>
                <div class="ml-3">
                    <button class="btn btn-outline-warning btn" onclick="window.location.href='/'">
                        Logout
                    </button>
                </div>
            </div>
        </div>
    </nav>
</div> -->
            <div class="mb-10">
                <nav class="navbar navbar-expand-lg bg-dark fixed-top navbar-dark navbar-expand-sm shadow-lg">
                    <div class="container-fluid">
            
                        <a class="navbar-brand" href="#">
                            <img src="nit-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                            NIT AP CLUBS
                        </a>
                        <a class="navbar-brand d-none" href="#">HOME</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                            <ul class="navbar-nav justify-content-end">
                                <li class="nav-item mx-2">
                                    <a class="nav-link active" aria-current="page" href="/index">Home</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link active" aria-current="page" href="/faqs">FAQ'S</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link active" aria-current="page" href="/gallery">Gallery</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link active" aria-current="page" href="/clubs">Clubs</a>
                                </li>
                                <li class="nav-item mx-2">
                                    <a class="nav-link active" aria-current="page" href="/events">Events</a>
                                </li>
                            </ul>
                            <div class="ml-3">
                                <button class="btn btn-outline-warning btn" onclick="window.location.href='/google'">
                                    Admin Login
                                </button>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
<div class="container mt-3 pt-8">
    <% for (const gallery of galleries) { %>
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card-body text-center">
                    <h3 class="card-title mt-5 pt-2 bg-dark text-white">
                        <%= gallery.title %>
                    </h3>
                </div>
                <hr>
            </div>
            <% for (const image of images.find(i=> i[0].filename === gallery.images[0].filename)) { %>
                <div class="col-md-3">
                    <div class="card">
                        <img src="<%= image.url %>" class="card-img-top" alt="<%= image.filename %>"
                            style="object-fit: cover;">
                    </div>
                </div>
               
                <% } %>
               
        </div>
        <% } %>
</div>



</body>
</html>

<!-- 
<div class="container">
    <div class="row">
        <% for (const gallery of galleries) { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <% for (const image of images.find(i=> i[0].filename === gallery.images[0].filename)) { %>
                        <img src="<%= image.url %>" class="card-img-top" alt="<%= image.filename %>">
                        <% } %>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= gallery.title %>
                                </h5>
                            </div>
                </div>
            </div>
            <% } %>
    </div>
</div> -->